.table {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 500px;
}

table {
  width: 200px;
  text-align: center;
  width: 50px;
}

table th tr {
}

th {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

td {
  padding-bottom: 10px;
  padding-top: 10px;
}

tr {
  border: 2px solid rgb(218, 220, 216);
}
